.eventlist-item__link {
	display: block;
	background-color: #eee;
	max-width: 25%;
	margin: 1em 1em;
	padding: 1em;

	text-decoration: none;
	color: #000;
}

.eventlist-item__image {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.eventlist-item__image > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
